@page
@model Licenta.Pages.Combustibili.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Combustibil</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Combustibil.TipCombustibil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Combustibil.TipCombustibil)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Combustibil.ID" class="btn btn-primary">Editare</a> |
    <a asp-page="./Index" class="btn btn-primary">Înapoi</a>
</div>
