@page
@model IndexModel
@using Microsoft.EntityFrameworkCore
@inject Licenta.Data.LicentaContext _context

@{
    ViewData["Title"] = "Home page";
}

@{
    var userEmail = User.Identity?.Name;
    var dateUtilizator = await _context.Utilizator
        .FirstOrDefaultAsync(u => u.Email == userEmail);
}

<div class="text-center py-5">
    <h1 class="display-4 fw-bold" style="color: #001f3f;">
        @if (dateUtilizator != null)
        {
            <span>Bine ai venit, @dateUtilizator.FullName!</span>
        }
        else
        {
            <span>Bine ai venit!</span>
        }
    </h1>
</div>